[Desktop Entry]
Categories=System;Security;
Type=Application
Terminal=false
Name=ZAP
GenericName=The Zed Attack Proxy
Comment=Automatically find security vulnerabilities in your web applications while you are developing and testing.
Exec=zap
Icon=org.zaproxy.ZAP
StartupNotify=true
StartupWMClass=ZAP
